body {
  font-family: "Roboto", "Raleway", sans-serif;
}
.logo-title {
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.logo-title-web {
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-link:hover {
  text-decoration: underline;
  color: #404bbf;
}

.navigation-link:active {
  color: #404bbf;
}

ul {
  list-style-type: none;
}

.address-contact {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-contact:hover {
  color: #404bbf;
  text-decoration: underline;
}

.section-1 {
  background-color: #2e2f42;
}

.section-1-h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}

.section-1-button {
  background-color: #4d5ae5;
}

.button-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.advantages-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-heading {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

.our-team-employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-employee-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-item-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-title-footer {
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
