.topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-photo {
  flex-direction: row;
}

.header-links {
  display: flex;
  gap: 40px;
}

.header-contacts {
  flex-direction: row;
  text-decoration: none;
  font-style: normal;
}

.header-contacts:hover {
  text-decoration: underline;
}
